<div class="container mt-4">
  <!-- Boton creacion -->
  <a href="/create" class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="right"
      data-bs-custom-class="custom-tooltip"
      data-bs-title="Agregar registro">
    <i class="bi bi-plus-circle-fill fs-2"></i>
  </a>

  <table class="table table-bordered table-striped text-center mt-4">
    <thead class="table-dark">
      <tr class="bg-primary text-white">
        <th scope="col">ID</th>
        <th scope="col">USUARIO</th>
        <th scope="col">ROL</th>
        <th scope="col">ACCIONES</th>
      </tr>
    </thead>
    <tbody>
      <% results.forEach(user=> { %>
        <!-- <%= user.user %> -->
          <tr>
            <td scope="col">
              <%= user.id %>
            </td>
            <td scope="col">
              <%= user.name %>
            </td>
            <td scope="col">
              <%= user.role %>
            </td>
            <td scope="col">
              <a href="/edit/<%= user.id %>" class="btn btn-outline-info"> Editar </a>
              <a href="/delete/<%= user.id %>" class="btn btn-outline-danger"> Borrar </a>
            </td>
          </tr>
          <% }) %>

    </tbody>
  </table>

</div>